/* LearnPress Course Filter Title Elementor */
.course-filter-title-elementor{
	.course-filter-title{
		padding: var(--learnpress-text-padding, 0 0 0 0 );
		margin: var(--learnpress-text-margin, 0 0 0 0);
		background: var(--learnpress-text-background, transparent);
		color: var(--learnpress-text-color, #000);
	}
	.course-filter-description{
		padding: var(--learnpress-text-padding, 12px 24px 12px 24px);
		margin: var(--learnpress-text-margin, 20px 0 0 0);
		background: var(--learnpress-text-background, transparent);
		color: var(--learnpress-text-color, #000);
		border-radius: var(--learnpress-btn-border-radius, 4px 4px 4px 4px);
	}
}
.lp-form-course-filter-btn{
	display: flex;
	gap: 8px;
	button{
		padding: var(--learnpress-text-padding, 12px 16px 12px 16px );
		margin: var(--learnpress-text-margin, 0 0 0 0);
		background: var(--learnpress-text-background, #fff);
		color: var(--learnpress-text-color, #000);
		border-radius: var(--learnpress-btn-border-radius);
		width: 50%;
		&:hover{
			background: var(--learnpress-text-background-hover, transparent);
			color: var(--learnpress-text-color-hover, #000);
		}
	}
}
/* LearnPress Course Filter Elementor */
.lp-form-course-filter-elementor{
	&.landscape{
		display: grid;
		&.landscape_col_1{
			grid-template-columns: 1fr 1fr 1fr;
		}
		&.landscape_col_2{
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		&.landscape_col_3{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		}
		&.landscape_col_4{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		&.landscape_col_5{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
		&.landscape_col_6{
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
		}
		.lp-form-course-filter-wrapper{
			.lp-form-course-filter__title {
				span{
					right: 16px;
				}
			}
		} 
	}
	.lp-course-filter-search-field{
		input{
			width: 100%;
			min-height: 40px;
			padding: var(--learnpress-text-padding, 4px 10px 4px 10px );
			margin: var(--learnpress-text-margin, 0 0 0 0);
			border-radius: var(--learnpress-btn-border-radius, 0 0 0 0);
			background: var(--learnpress-text-background, transparent);
			color: var(--learnpress-text-color, #000);
		}
	}
	.lp-form-course-filter__item{
		>.lp-form-course-filter__title{
			display: none!important;
		}
	}

	.lp-form-course-filter__title .course-filter-title{
		background: var(--learnpress-text-background, transparent);
		padding: var(--learnpress-text-padding, 12px 0px 12px 0px);
		margin: var(--learnpress-text-margin, 0 0 0 0);
		color: var(--learnpress-text-color, #000 );
		width: 100%;
		&:hover{
			background: var(--learnpress-text-background-hover, transparent);
		}
	}
	.lp-course-filter__field{
		position: relative;
		padding: var(--learnpress-text-padding, 0% 10% 0% 0%);
		margin: var(--learnpress-text-margin, 0 0 0 0);
		color: var(--learnpress-text-color, #000 );
		background: var(--learnpress-text-background, transparent);
		display: flex;
		align-items: center;
		gap: 10px;
		cursor: pointer;
		.count{
			position: absolute;
			right: 4px;
			top: 0;
		}
		&:hover{
			color: var(--learnpress-text-color-hover, #000 );
			background: var(--learnpress-text-background-hover, transparent);
		}
	}
}

.lp-form-course-filter-wrapper{
	&.accordion{
		.lp-form-course-filter__item{
			padding: var(--learnpress-text-padding);
			background: var(--learnpress-text-background, transparent);
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			margin-bottom: auto;
		}
		.lp-form-course-filter__title{
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			cursor: pointer;
			span {
				position: absolute;
				right: 0;
				top: calc(50% - 8px);
				font-size: 16px;
				transition: transform 0.3s ease;
				transform-origin: center;
			}
			&.active{
				span {
					transform: rotate(180deg);
				  }
			}
		}
	}
	&.list{
		.lp-form-course-filter__title{
			span{
				display:none;
			}
		}
		.lp-form-course-filter__item{
			margin: var(--learnpress-text-margin, 0px 0px 16px 0px);
			padding: var(--learnpress-text-padding, 0px 0px 16px 0px);
			background: var(--learnpress-text-background, transparent);
			&:hover{
				background: var(--learnpress-text-background-hover, transparent);
			}
		}
	}
	&.dropdown{
		position: relative;
		height: fit-content;
		.lp-form-course-filter__title{
			cursor: pointer;
			position: relative;
			span {
				position: absolute;
				right: 0;
				top: calc(50% - 8px);
				font-size: 16px;
				transition: transform 0.3s ease;
				transform-origin: center;
			}
			.course-filter-title{
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
		.lp-form-course-filter__item {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			right: auto;
			z-index: 100000;
			padding: var(--learnpress-text-padding, 16px 16px 16px 16px);
			background: var(--learnpress-text-background, #fff);
			border-radius: var(--learnpress-btn-border-radius, 0 0 0 0);
			-webkit-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-khtml-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-moz-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-ms-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-o-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			box-shadow: 0 4px 36px rgba(0,0,0,.15);
			visibility: hidden;
			opacity: 0;
			transition: 0.3s;
		}
		&.active{
			.lp-form-course-filter__title{
				span {
					transform: rotate(180deg);
				}
			}
			.lp-form-course-filter__item {
				visibility: visible;
				opacity: 1;
				margin-top: 3px;
			}
		}
	}
}
