/* LearnPress Course Filter Elementor */
.lp-form-course-filter-elementor{
	&.landscape{
		display: flex;
		flex-wrap: nowrap;
	}
	&.portrait{
	
	}
	.lp-form-course-filter__item{
		>.lp-form-course-filter__title{
			display: none;
		}
	}

}

.lp-form-course-filter-wrapper{
	&.accordion{
		.lp-form-course-filter__item{
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
			margin-bottom: auto;
			padding-bottom: inherit;
		}
		.lp-form-course-filter__title{
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			cursor: pointer;
			span {
				position: absolute;
				right: 0;
				top: calc(50% - 8px);
				font-size: 16px;
				transition: transform 0.3s ease;
				transform-origin: center;
			}
			&.active{
				span {
					transform: rotate(180deg);
				  }
			}
		}
	}
	&.list{
		.lp-form-course-filter__title{
			span{
				display:none;
			}
		}
	}
	&.dropdown{
		position: relative;
		.lp-form-course-filter__title{
			cursor: pointer;
			span {
				position: absolute;
				right: 0;
				top: calc(50% - 8px);
				font-size: 16px;
				transition: transform 0.3s ease;
				transform-origin: center;
			}
		}
		.lp-form-course-filter__item {
			position: absolute;
			width: 100%;
			top: 100%;
			left: 0;
			right: auto;
			z-index: 100000;
			-webkit-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-khtml-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-moz-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-ms-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			-o-box-shadow: 0 4px 36px rgba(0,0,0,.15);
			box-shadow: 0 4px 36px rgba(0,0,0,.15);
			visibility: hidden;
			opacity: 0;
			transition: 0.3s;
		}
		&.active{
			.lp-form-course-filter__title{
				span {
					transform: rotate(180deg);
				}
			}
			.lp-form-course-filter__item {
				visibility: visible;
				opacity: 1;
				margin-top: 3px;
			}
		}
	}
}
